{% extends "register/base.tmpl" %}

{% block content %}

<div style="text-align: center; padding-top: 50px; font-size: 1.5em; ">

<div>
   Done!
</div>




<div class="xtrapadding">
<a href="{% url requestpage %}">Go back</a>.
</div>

</div>
{% endblock %}

