{% extends "register/base.tmpl" %}

{% block content %}
<div style="text-align: center; padding-top: 50px; font-size: 1.5em; ">
<div>
This is the BILS service account registry where you can apply for access to various services provided by BILS.
</div>
<div class="xtrapadding">
If your organization is a member of <a href="http://www.swamid.se/">SWAMID</a> (most Swedish academic institutions are), you can log in and apply for/manage your account directly with the <a href="/register/request">register application</a>.
</div>
<div class="xtrapadding">
If your institution is not connected to SWAMID, you may still apply for access to BILS-provided services, please send a mail to <a href="mailto:support@bils.se">support@bils.se</a> for more information.
</div>
</div>
{% endblock %}
