<html>
<head>
<title>BILS service account registry</title>
</head>
<body>

<div>
This is the BILS service account registry where you can apply for access to various services provided by BILS.
</div>
<div>
If your organization is a member of <a href="http://www.swamid.se/">SWAMID</a> (most Swedish academic institutions are), you can log in and apply for/manage your account directly with the <a href="/register/request">register application</a>.
</div>
<div>
If your institution is not connected to SWAMID, you may still apply for access to BILS-provided services, please send a mail to support@bils.se for more information.
</div>
</body>
