<html>
<head>
<title>BILS service account registry</title>
</head>
<body>


<div>
You're currently logged in as {{name}}, {{email}}

<br/>

</div>
{% if has_account %}

<div>
<form action="/register/request/done" method="post">
{% csrf_token %}

{{ passwordForm.as_p }}

<input type="submit" value="Change! " />
</form>
</div>

{% endif %}

{% if current_request %}
<div>
You have an outstanding service request, but you may update it below.
</div>
{% endif %}

Please choose the services you want to use:

<div>
<form action="/register/request/done" method="post">
{% csrf_token %}

{{ servicesForm.as_p }}


<input type="submit" value="Apply for services" />
</form>
</div>



</body>
