{% extends "register/base.tmpl" %}

{% block content %}

<div style="text-align: center; padding-top: 50px; font-size: 1.5em; ">



{% if pw_change %}

<div class="xtrapadding">
Your password has been updated.
</div>

{% endif %}

{% if services_change %}

<div class="xtrapadding">
Your service request has been submitted for review by BILS administrators. 
</div>

{% endif %}

{% if not services_change and not pw_change %}
<div class="xtrapadding">
No change requested. 
</div>
{% endif %}

<div class="xtrapadding">
If you want to, you can <a href="{% url requestpage %}">go back and make more changes</a>.
</div>

</div>
{% endblock %}

